<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897682629651-27f9b8rj68fq9fpudgl89fl1uifma57a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897682629651-27f9b8rj68fq9fpudgl89fl1uifma57a</string>
	<key>API_KEY</key>
	<string>AIzaSyDc5qXANatZpW_POa9-Y2aCnB55LYW6eh4</string>
	<key>GCM_SENDER_ID</key>
	<string>897682629651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nsideas</string>
	<key>PROJECT_ID</key>
	<string>ns-ideas</string>
	<key>STORAGE_BUCKET</key>
	<string>ns-ideas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897682629651:ios:42e40e159401e03bb6cbe6</string>
</dict>
</plist>