<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512397462005-tklrcadqpnkogde79hejmaknq9p3rt8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512397462005-tklrcadqpnkogde79hejmaknq9p3rt8l</string>
	<key>API_KEY</key>
	<string>AIzaSyDsTSsLsw2kxVdQrmpV08-uBN7btkCF_tg</string>
	<key>GCM_SENDER_ID</key>
	<string>512397462005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nsideas</string>
	<key>PROJECT_ID</key>
	<string>prokoni</string>
	<key>STORAGE_BUCKET</key>
	<string>prokoni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512397462005:ios:5546854a07150889af78bc</string>
</dict>
</plist>